/nbproject/*
/.cproject
/.project
/.settings
/*.o
/*.so
/mytest
/log*
/jsonw.xml
/xmlw.xml
/logs/*
/bingo_v4/*.o
/bingo_v4/*/*.o
/bingo_v4/*/*/*.o
/bingo_v4/*/*/*/*.o
/bingo_v4/*/*/*/*/*.o
/bingo_v4/*/*/*/*/*/*.o
/test/*.o
/test/*/*.o
/test/*/*/*.o
/test/*/*/*/*.o
/test/*/*/*/*/*.o
